body {
  background: mediumaquamarine;
  margin: 1rem;
  padding: 1rem;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p.author{
  width: 75%;
  font-style: italic;
  font-weight:bold;
}

.important {
  color: red;
}

.have {
  color: green;
}

p.have.as.many {
  color: purple;
}

.new {
  color: brown;
  font-size: 45px;
}

div.newer {
  color: blue;
  font-style: oblique;
}

.line {
  color: maroon;
  font-size: 25px;
}

.sidebar {
  width: 24%;
  margin: 0.5%;
  float: right;
  background-color: yellow;
}

.sidebar > * {
  padding: 15px;
}

ul {
  margin-left: 12px;
}

li {
  list-style-type: square;
}

.two {
  background: green;
}

.three {
  background: orange;
}

.four {
  background: lightslategray;
}
