p.intro {
  width: 50%;
  font-style: italic;
}

p.author{
  width: 75%;
  font-style: italic;
  font-weight:bold;
}

.important {
  color: red;
}

.have {
  color: green;
}

p.have.as.many {
  color: purple;
}

.new {
  color: brown;
  font-size: 45px;
}

div.newer {
  color: blue;
  font-style: oblique;
}

.line {
  color: maroon;
  font-size: 25px;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

